body {
    font-family: Arial, Helvetica, sans-serif;
}

/* 模态（背景）*/
.modal {
    display: none;
    /* 默认隐藏 */
    position: fixed;
    /* 留在原地 */
    z-index: 9999; /* 将其 z-index 设置得较高 */
    /* Sit on top */
    padding-top: 100px;
    /* 方框的位置 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全屏宽度 */
    height: 100%;
    /* 全高 */
    overflow: auto;
    /* 如果需要启用滚动 */
    background-color: rgb(0, 0, 0);
    /* 后备颜色 */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* 模态内容 */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* 添加动画 */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* 关闭按钮 */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}