#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_gallery {
    width: 600px;
    height: 600px;
    background-color: bisque;
    display: flex;
    align-items: center;
    position: relative;
}

.left_button,
.right_button {
    background-color: rgba(52, 52, 52, 0.043);

    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: rgba(255, 255, 255, 0.354);
    transition: background-color 0.5s ease;
}

.left_button {
    left: 20px;
}

.right_button {
    right: 20px;
}

.right_button:hover,
.left_button:hover {
    cursor: pointer;
    background-color: rgba(52, 52, 52, 0.413);
}

.photo_id{
    position: absolute;
    left: 50%;
    bottom:10px
}