  #content {
      margin-left: 150px;
      padding: 20px;
  }

  h1 {
      text-align: center;
      color: #333;
  }

  input[type="checkbox"] {
      width: 20px;
      height: 20px;
      /* display: none; */
  }

  .remind_phone,
  .remind_me {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      display: inline-block;
  }