#content {
    display: flex;
}

.left-content {
    flex: 1;
    padding-right: 20px;
    margin-left: 20px;
}


#transfer_info {
    width: 100%;
    height: 90%;
    text-align: left;
    font-size: medium;
    font-family: '黑体';
    font-weight: 500;
}

.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: normal;

}

#fileInput {
    margin-bottom: 20px;
}

#upload_btn {
    width: 300px;
}